.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;

  @include on680 {
    padding: 0 50px;
  }

  @include on990 {
    padding: 0 60px;
  }

  @include on1440 {
    padding: 0 70px;
  }
}