$darkElementBackground: hsl(209, 23%, 22%);
$darkMainBackground: hsl(207, 26%, 17%);
$darkShadow: hsl(207, 26%, 10%);
$darkModeText: hsl(0, 0%, 100%);

$lightElementBackground: hsl(0, 0%, 100%);
$lightMainBackground: hsl(0, 0%, 98%);
$lightShadow: hsl(0, 0%, 88%);
$lightModeText: hsl(200, 15%, 8%);

$previewCountryWidth: 270px;